theme = "catppuccin_frappe"
# theme = "catppuccin_latte"

[editor]
line-number = "relative"
soft-wrap.enable = true
auto-save = true

[keys.normal]
C-k = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
C-j = ["extend_to_line_bounds", "delete_selection", "paste_after"]
C-q = ":write"

[keys.insert]
C-q = ":write"
A-a = "normal_mode"
"C-c" = "toggle_comments"
"A-d" = "delete_selection"

"A-w" = "move_next_word_start"
"A-b" = "move_prev_word_start"

"A-l" = "move_char_right"
"A-h" = "move_char_left"
"A-j" = "move_line_down"
"A-k" = "move_line_up"

"C-s" = "goto_first_nonwhitespace"
"C-l" = "goto_line_end"
